body{
    margin: 0;
    padding: 0;
}

#nav-menu{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,.1);
    height: 100px;
    display: flex;
    justify-content: space-around;
}

#navbarname{
   
    width: 30%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro',sans-serif;
    color: #333;
    margin-top: 15px;
}

#navbarname:hover{
    cursor: pointer;
    color: #facf0f;
}

#navbar-items {
    width: 45%;
}

#navbar-items ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 41px;
}

#navbar-items a{
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color .3s;
    font-family: 'Source Sans Pro',sans-serif;
}

#navbar-items a:hover{
    color: #facf0f;
}

#home{
    width: 100%;
    border: 1px solid white;
    position: relative;
   top: 100px;
   color: black;
   background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
   background-position: center;
   height: 37rem;
   min-height: 10rem;
   max-height: 120rem;
   text-align: center;
   font-family: 'Source Sans Pro',sans-serif;
   
}

#home p{
   
font-size: 25px;
margin-top: 220px;

}

#home h2{
   
    font-size: 40px;
    line-height: 1.5rem;
    
    }
#home button{
    background: #facf0f;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    }  
    
    /* home end */

  #about{
    position: relative;
    top: 100px;
    
  } 
  
  #about-me{
    text-align: center;
    font-family:'Source Sans Pro',sans-serif ;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: #facf0f;
    color: black;

  }
  #about-img{
    width: 50%;
  }

  #about-img img{
    width: 60%;
    border-radius: 200px;
    margin-left: 100px;
    margin-top: 5px;
  }

  #about_content{
    display: flex;
    width: 90%;
    margin: auto;
    height: 300px;
  }

  #about-desc{
    width: 70%;
    font-size: 25px;
    font-family:'Source Sans Pro',sans-serif ;
    letter-spacing: 1px;
    font-weight: 400;
    transition: color .3s;
    padding-top: 20px;
  }

  /* about over */

  #skills{
    position: relative;
    top: 200px;
  }

  #skills h2{
    text-align: center;
    font-family:'Source Sans Pro',sans-serif ;
    font-size: 2.3em;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #facf0f;
  }
  #skills-details{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    gap: 15px;
    
  }
  .skills-container{
    margin-left: 60px;
    width: 40%;
    
  }
  .skills-container:hover{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .skills-container img{
    width: 100%;
  }
  .skills-container p {
    text-align: center;
    font-size: 10px;
    font-family:'Source Sans Pro',sans-serif ;
    letter-spacing: 1px;
    font-weight: 400;
  }
  
  /* skills over */

  #projects{
    position: relative;
    top: 250px;
  }

  #projects h2{
    text-align: center;
    font-family:'Source Sans Pro',sans-serif ;
    font-size: 2.3em;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #facf0f;
  }

  #sub-project{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    gap: 15px;
  }
  .project-card{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .project-card img {
    width: 100%;
  }
